<div id="navbar-container">
    <div class="navbar">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <!-- Higher level options will be disabled/invisable depending on loggedIn user type  -->
            <h3>Trainer Options</h3>
            <li class="nav-item">
                <a class="nav-link" href="#">View My Pokemon</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">View My Pokemon Stats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">View My Trainer Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Visit PC Box</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Check My Notifications</a>
            </li>
            <br>
            <h3>Nurse Options</h3>
            <li class="nav-item">
                <a class="nav-link" href="#">View My PokePatients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">View My Past PokePatients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">View My PokePatient Charts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Update My PokePatient Charts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Get PokeTreatment by PokePatient ID Number</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Authorize PokePatient Discharge</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">View All Admitted PokePatients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">View Past PokePatients</a>
            </li>
            <br>
            <h3>Admin Options</h3>
            <li class="nav-item">
                <a class="nav-link" href="#">View PokeCenter Billing History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">View Current Medication Stock</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Orders Medication</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Modify User Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">View All Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Remove User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Remove Patient Record</a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link" href="#">Log Out</a>
            </li>
        </ul>
    </div>
</div>