<div id="home-container">

  <h1> View all Trainers</h1>

  
    <table class="table" >
        <thead>
          <tr>
            <th scope="col">Trainer ID</th>
            <th scope="col">Trainer Name</th>
            <th scope="col">Hometown</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>          
          </tr>
        </thead>
        <tbody id ="table-data">
          <tr>
            <th name="row" scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
          </tr>
          <tr>
            <th name="row"scope="row">2</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
          </tr>
          <tr>
            <th name="row" scope="row">3</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
          </tr>
        </tbody>
      </table>
      <button routerLink="/home" class="goBack">Go Back</button>

</div>
