<div id="home-container">

    <form id="form" #form="ngForm" (submit)="getTreatmentByStatus(form.value)">
        <div class="form-group">
          <label for="status">Status ID:</label>
          <input type="text" class="form-control" id="status" name="status" [(ngModel)]="status">
        </div>
        
        <div class="text-center">
          <button type="submit" class="btn btn-primary submit-btn">Submit</button>
        </div>
      </form>
  
    <table class="table" >
        <thead>
          <tr>
            <th scope="col">Medicine ID</th>
            <th scope="col">Medicine Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Recommended For</th>          
          </tr>
        </thead>
        <tbody id ="table-data">
          <tr>
            <th name="row" scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
          </tr>
          <tr>
            <th name="row"scope="row">2</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
          </tr>
          <tr>
            <th name="row" scope="row">3</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
          </tr>
        </tbody>
      </table>
      <button routerLink="/home" class="goBack">Go Back</button>

</div>
