<div id="home-container">
  
  <div id="head-container">
    <h1> View my Pokemon</h1>
   </div> 

    <table class="table" >
        <thead>
          <tr>
            <th scope="col">Patient ID</th>
            <th scope="col">PokeDex#</th>
            <th scope="col">Trainer ID</th>
            <th scope="col">Admission</th>
            <th scope="col">Release</th>
            <th scope="col">Current HP</th>
            <th scope="col">Max HP</th>
            <th scope="col">Initial Symptoms </th>
            <th scope="col">Med ID</th>
            <th scope="col">Healed</th>
          </tr>
        </thead>
        <tbody id ="table-data">
          <tr>
            <th name="row" scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
          </tr>
          <tr>
            <th name="row"scope="row">2</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
          </tr>
          <tr>
            <th name="row" scope="row">3</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
          </tr>
        </tbody>
      </table>
      <button routerLink="/home" class="goBack">Go Back</button>

</div>
