<div id="home-container">
    <table class="table" id ="table-data">
        <thead>
          <tr>
            <th scope="col">PokeDex#</th>
            <th scope="col">Trainer ID</th>
            <th scope="col">Admission</th>
            <th scope="col">Release</th>
            <th scope="col">Current HP</th>
            <th scope="col">Max HP</th>
            <th scope="col">Status ID</th>
            <th scope="col">Med ID</th>
            <th scope="col">IsHealthy</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th name="row" scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
          </tr>
          <tr>
            <th name="row"scope="row">2</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
          </tr>
          <tr>
            <th name="row" scope="row">3</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
          </tr>
        </tbody>
      </table>
      <button routerLink="/home" class="goBack">Go Back</button>

</div>
